{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
    <div class="jumbotron">
        <h1>Personal-Trainer</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Über PT</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Einführung</h3>
            <p>Der Personal-Trainer ist das und das..</p>
        </div>

        <div class="col-md-4">
            <h3>Registration</h3>
            <p>Sie können sich hier !!!LINK!!! Registrieren !!!LINK!!!, um den Personal-Trainer zu gebrauchen.</p>
        </div>

        <div class="col-md-4">
            <h3>Frei3</h3>
            <p>Textfrei3.</p>
        </div>
    </div>
{%endblock%}